body
{
    background-color: #3D3E3F;
    font-family: "Bodoni MT";
    color: #CACDEF;
}
h3
{
    font-size: 18px;
}
h2
{
    font-size: 22px;
}
h1 
{
    font-size: 40px;
}
p 
{
    color: #CACDEF;
    font-size: 12px;
}
ul
{
    list-style-type: square;
}
ul li 
{
    font-size: 12px;
}
a
{
    color: #cacdef;
    font-size: 12px;
    text-decoration: none;
}
a:hover
{
    background-color: #CACDEF;
    color: #3D3E3F;
    font-size: 12px;
    text-decoration: none;
}
#titulo
{
    display: block;
    text-align: left;
}
#corpo
{
    width: 100%;
    height: 100%;
    display: grid;
    grid.template.columns: 1fr 4fr 1fr;  
}
.corpo > #menu
{
    display: inline-block;
    float:left;
    text-align: left;
}

.corpo > #imagem
{
    display: inline-block;
    float: right;
}
.corpo > #conteudo {
    display: inline-block;
    overflow: scroll;
    position: fixed;
    float: left;
    height: 80%;
}
.conteudo > #experiencia {
    display: inline-block;
    position: fixed;
    float: left;
}
.corpo > #prezi
{
    display: inline-block;
    margin-left: 5%;
    position: fixed;
    float: left;
}
